__pycache__/
venv/
.idea/
__pycache__
.DS_Store
~$*
archive/
.ipynb_checkpoints/
JobsAcUk/
smalltestjobs/
verysmalltestjobs/
ALL_JOBS*
results/1_processed_jobs_2023-08-17.csv
results/2_named_processed_jobs_2023-08-17.csv
results/3_identified_jobs_2023-08-17.csv
results/4_summary_identified_jobs_2023-08-17.csv
results/all_jobs_per_week_2023-08-17.png
results/all_jobs_per_year_2023-08-17.png
results/find_jobs_log.txt
results/job_parser_log_2023-08-14.txt
results/job_parser_log_2023-08-17.txt
results/rse_jobs_per_week_2023-08-17.png
results/rse_jobs_per_year_2023-08-17.png
simon_results/1_processed_jobs_2023-08-11.csv
simon_results/2_named_processed_jobs_2023-08-11.csv
simon_results/3_identified_jobs_2023-08-11.csv
simon_results/4_summary_identified_jobs_2023-08-11.csv
simon_results/all_jobs_per_week_2023-08-11.png
simon_results/all_jobs_per_year_2023-08-11.png
simon_results/find_jobs_log.txt
simon_results/rse_jobs_per_week_2023-08-11.png
simon_results/rse_jobs_per_year_2023-08-11.png
results/comparer_log.txt
results/in_1_not_2.png
results/in_2_not_1.png
results/0_merged_processed_joblist.csv
